<a href="https://colab.research.google.com/github/blessingajidahun/WTF-Submission/blob/main/Pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

In [5]:
days =pd.Series(['Monday', 'Tuesaday', 'Wednesday'])
print(days)

0       Monday
1     Tuesaday
2    Wednesday
dtype: object

Creating series with a numpy array

In [6]:
days_list =(['Monday', 'Tuesday', 'Wednesday'])
numpy_days = pd.Series(days_list)
print(numpy_days)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

using strings as index

Create series from a dictionary

In [7]:
days = pd.Series(['Monday', 'Tuesday', 'Wednesday'], index = ['a', 'b','c'])
print(days)

a       Monday
b      Tuesday
c    Wednesday
dtype: object

In [8]:
days1 = pd.Series({'a':'Monday', 'b':'Tuesday', 'c':'Wednesday'})
print(days1)

a       Monday
b      Tuesday
c    Wednesday
dtype: object

Series can be accessed as shown below:

In [9]:
days[0]

'Monday'

In [10]:
days[1:]

b      Tuesday
c    Wednesday
dtype: object

In [11]:
days['c']

'Wednesday'

DATAFRAMES

To create an empty dataframe:

In [12]:
print(pd.DataFrame())

Empty DataFrame
Columns: []
Index: []

To create a dataframe from a dictionary:

In [13]:
df_dict = {'Country': ['Ghana', 'Kenya', 'Nigeria', 'Togo'],
           'Capital': ['Accra', 'Nairobi', 'Abuja', 'Lome'],
           'Population':[10000, 8500, 35000, 12000],
           'Age': [60, 70, 80, 75]}
df = pd.DataFrame(df_dict, index = [2,4,6,8])
print(df)

   Country  Capital  Population  Age
2    Ghana    Accra       10000   60
4    Kenya  Nairobi        8500   70
6  Nigeria    Abuja       35000   80
8     Togo     Lome       12000   75

To create a dataframe from list

In [15]:
df_list = [['Ghana', 'Accra', 10000, 60],
           ['Kenya', 'Nairobi', 8500, 70],
           ['Nigeria', 'Abuja', '35000', 80],
           ['Togo', 'Lome', 12000, 75]]
df1 = pd.DataFrame(df_list, columns =['Country', 'Capital', 'Population', 'Age'], index = [2,4,6,8])
print(df1)

   Country  Capital Population  Age
2    Ghana    Accra      10000   60
4    Kenya  Nairobi       8500   70
6  Nigeria    Abuja      35000   80
8     Togo     Lome      12000   75

Accessing the elements in a data fram using loc, iloc, at and iat.

In [16]:
df.iloc[2]

Country       Nigeria
Capital         Abuja
Population      35000
Age                80
Name: 6, dtype: object

In [18]:
df.loc[6]

Country       Nigeria
Capital         Abuja
Population      35000
Age                80
Name: 6, dtype: object

In [20]:
df.at[6, 'Country']

'Nigeria'

In [21]:
df.iat[2,0]

'Nigeria'